@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


/*Chargement...*/
.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #f03355;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation: l1 2s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l1 {
  33% {
    border-radius: 0;
    background: #514b82;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  66% {
    border-radius: 0;
    background: #ffa516;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
  }
}

/*Corps de la page*/
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  padding: 40px 0;
  padding-top: 135px;
  display: flex;
  flex-direction: column;
  gap: 60px; 
  background-color:#f5deb3 ;

}

header {
  background-color: brown;
  padding: 0.5rem 2rem;
}

/*Section "Navbar"*/
.homepage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8B2323;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  flex: 1;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  height: 50px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-right: 15px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.5s;
  position: relative;
}

.nav-links:hover a {
  color: rgba(255, 255, 255, 0.2);
}

.nav-links li:hover a {
  color: #fff;
}

.nav-links a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid transparent;
  transition: all 0.5s;
  transform: scale(1.1);
  opacity: 0;
}

.nav-links a:hover:before {
  opacity: 1;
  transform: scale(1);
  border-color: #fff;
}

.nav-links li:nth-child(1) a:hover:before {
  border-color: #0470fe;
}

.nav-links li:nth-child(2) a:hover:before {
  border-color: #ff7675;
}

.nav-links li:nth-child(3) a:hover:before {
  border-color: #1582fe;
}

.nav-links li:nth-child(4) a:hover:before {
  border-color: #a29bfe;
}

/*Section pour le formulaire */
form {
  max-width: 420px; 
  margin: 50px auto; 
  padding: 10px; 
  display: flex;
  flex-direction: column; 
  background-color: #19381C; 
  color: #f9f9f9;
  border-radius: 10px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

form .contactez {
  color: whitesmoke;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10x;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #9AC9FE;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 5px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#9AC9FE;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: #3C3434;
  font-size:18px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top: 6px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

/*Section "A propos" */ 
.profile-image {
  width: 400px; 
  height: auto; 
  object-fit: cover; 
  border-radius: 10px; 
  margin-right: 20px; 
}

.about-text p:first-child {
  font-size: 36px; 
  font-weight: bold; 
  margin: 0; 
}

.about-text p:last-child {
  font-size: 20px; 
  margin: 5px 0 0; 
  margin-top: 10px;
}

.about-content {
  display: flex;
  align-items: center;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-section {
  margin-bottom: 20px; 
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-50%); 
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1; 
  }
}

.about-text p {
  animation: slideFromLeft 2s ease-out; 
}

.profile-image {
  animation: slideFromTop 2s ease-out; 
}

/*Partie dédiée aux boîtes de projets*/
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.box {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.box img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.box .text {
  text-align: center;
  margin: 10px 0;
}

.projets-flex {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px;
  margin: 40px 0;
}
.custom-container {
  display: inline-block;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  background-color: #19381C; 
  padding: 20px;
  border-radius: 10px; 
  width: 300px; 
  margin: 0 auto; 
}

.image-box img {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.text-box {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  margin-top: 15px;
  width: 100%; 
}

.text-item {
  text-align: center; 
  font-size: 18px;
  font-weight: bold;
  color: #595959; 
  padding: 10px;
  background-color: #fff; 
  border-radius: 5px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
}

/*Style du footer*/
.footer {
  background-color: #26502D;
  display: flex;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}