body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

header {
  background-color: #2A5A2F;
  padding: 1rem 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  height: 70px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 10px;
  font-size: 26px;
  font-weight: bold;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ddd;
}

.contact-container {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5D473A;
  width: 100%;
  position: relative;
  min-height: calc(100vh - 150px); 
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center; 
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 40%;
  max-width: 600px;
  margin: 0 auto;
}

.vertical-bar {
  width: 100px;
  display: flexbox;
  justify-content: space-between;
  background-color: #826E26;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.vertical-bar.left {
  left: 0;
}

.vertical-bar.right {
  right: 0;
}

.footer {
  background-color: #2A5A2F;
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.profile-image {
  width: 400px; 
  height: auto; 
  object-fit: cover; 
  border-radius: 10px; 
  margin-right: 20px; 
}

.about-text p:first-child {
  font-size: 36px; 
  font-weight: bold; 
  margin: 0; 
}

.about-text p:last-child {
  font-size: 20px; 
  margin: 5px 0 0; 
}

.about-content {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.box {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.box img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.box .text {
  text-align: center;
  margin: 10px 0;
}

.box .more-btn {
  background: #7fbfbf;
  border: none;
  padding: 8px 20px;
  border-radius: 15px;
  cursor: pointer;
} 