

/*Corps de la page principale*/
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  padding: 40px 0;
  padding-top: 135px;
  display: flex;
  flex-direction: column;
  gap: 60px; 
  background-color:#f5deb3 ;

}

[id] {
  scroll-margin-top: 95px; 
}


/*Section "Navbar"*/
.homepage {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #872222;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.navbar-left {
  flex: 1;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  height: 60px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-right: 15px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.5s;
  position: relative;
}

.nav-links:hover a {
  color: rgba(255, 255, 255, 0.2);
}

.nav-links li:hover a {
  color: #fff;
}

.nav-links a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 12px;
  transition: all 0.5s;
  transform: scale(1.1);
  opacity: 0;
}

.nav-links a:hover:before {
  opacity: 1;
  transform: scale(1);
  border-color: #fff;
}

.nav-links li:nth-child(1) a:hover:before {
  border-color: white;
}

.nav-links li:nth-child(2) a:hover:before {
  border-color: #f5deb3;
}

.nav-links li:nth-child(3) a:hover:before {
  border-color: #9AC9FE;
}

.nav-links li:nth-child(4) a:hover:before {
  border-color: #9effa3;
}

/*Section pour le formulaire */
form {
  width: 420px; 
  margin: 50px auto; 
  padding: 10px; 
  display: flex;
  flex-direction: column; 
  background-color: #265028; 
  color: #f9f9f9;
  border-radius: 10px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

.contact-form .feedback {
  font-size: 18px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #9AC9FE;
  padding: 13px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form .feedback:hover {
  border-color: #CC4949;
}

form .contactez {
  color: whitesmoke;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10x;
}

fieldset {
  border: 1px solid #9AC9FE;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

legend {
  font-size: 18px;
  font-weight: bold;
  color: #f9f9f9;
  padding: 0 5px;
}

fieldset label {
  display: block;
  margin: 5px 0;
  color: #f9f9f9;
}

input[type="radio"] {
  margin-right: 10px;
}

.feedback {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #9AC9FE;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 5px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#9AC9FE;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: #3C3434;
  font-size:18px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top: 6px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

/*Section "A propos" */ 
.profile-image {
  width: 350px; 
  height: auto; 
  object-fit: cover; 
  border-radius: 10px; 
  margin-right: 20px; 
}

.about-text p:first-child {
  font-size: 36px; 
  font-weight: bold; 
  margin: 0; 
}

.about-text p:last-child {
  font-size: 20px; 
  margin: 5px 0 0; 
  margin-top: 10px;
}

.about-content {
  display: flex;
  align-items: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px; 
}



@keyframes slideFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.about-text p {
  animation: slideFromLeft 2s ease-out; 
}

.profile-image {
  animation: slideFromTLeft 2s ease-out; 
}

/*Partie dédiée aux boîtes de projets*/
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.box {
  width: 100%;
  max-width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.box img {
  width: 100%;
  height: 30%;
  object-fit: cover;
}

.box .text {
  text-align: center;
  margin: 10px 0;
}

.projets-flex {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px;
  margin: 40px 0;
}
.custom-container {
  display: inline-block;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  background-color: #265028; 
  padding: 20px;
  border-radius: 10px; 
  width: 90%;
  max-width: 300px; 
  margin: 0 auto; 
}

.image-box img {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.text-box {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  margin-top: 15px;
  width: 100%; 
}

.text-item {
  text-align: center; 
  font-size: 18px;
  font-weight: bold;
  color: #595959; 
  padding: 10px;
  background-color: #fff; 
  border-radius: 5px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
}

/*Style du footer*/
.piedepage {
  background-color: #872222;
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  position: relative; 
  padding: 20px 0; 
}

@media (max-width: 768px) {
  
  body {
    background-color: #f5deb3;
    overflow-x: hidden;
  }

  .homepage,
.piedepage {
    width: 100%;
    box-sizing: border-box;
  }

  body, 
  .nav-links a, 
  .about-text p:first-child, 
  .about-text p:last-child, 
  .text-item {
    font-size: 90%;
  }
  .about-text {
    display:column
  }

  .about-text p:first-child {
    font-size: 16px; 
  }

  .about-text p:last-child {
    font-size: 10px; 
  }

    .box {
      max-width: 200px; 
      height: 180px; 
      display: grid;
    }

    .box img {
      height: 100px; 
   }

    .navbar {
      padding: 0.5rem 1rem; 
    }

    .nav-links {
      gap: 1rem; 
    }

    .nav-links a {
      font-size: 16px; 
      padding: 5px 10px;
    }

  
    .contactez, 
    legend, 
    .text-item {
    font-size: 14px; 
    }

    .about-content {
      flex-direction: column;
      align-items: center; 
      text-align: center; 
    }
    
    .about-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .profile-image {
      margin-bottom: 20px;
      width: 80%;
      height: auto;
    }
  
    .about-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  
    .about-text p {
      font-size: 16px;
      margin: 10px 0;
      line-height: 1.5;
    }
  }

